section {
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
}
/* Стили для секции 'О себе' */
.about-me {
	background-color: #e0f2f1
}
/* Стили для секции 'Портфолио' */
.potfolio {
	background-color: #f0e68c;
}
/* Стили для секции 'Предоставление услуг' */
.services {
	background-color: #ffb6c1;
}
/* Общие стили для заголовков секций */
h2 {
	color: blue;
}
/* Стили для азацев внутри секции */
p {
	font-size: 16px;
	line-height: 1.5;
}
